unsigned char CLIENT_CERT[]="-----BEGIN CERTIFICATE-----\n"
"MIID/TCCAuWgAwIBAgIUPR8TQIdX3B2gH0qcMb81ohcLzjwwDQYJKoZIhvcNAQEL\n"
PASTE YOUR KEY HERE
"FDoVs9NsbCVDPQF/9dT+44s=\n"
"-----END CERTIFICATE-----\n";

unsigned char CLIENT_KEY[]="-----BEGIN PRIVATE KEY-----\n"
"MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDFjthdPj8w5sa8\n"
PASTE YOUR KEY HERE
"9+ATDW2s2C8uSOy8wetc+mo=\n"
"-----END PRIVATE KEY-----\n";

